#bdy{
    margin: 0;
}

#intro{
    background-color: #3c9ad1;
    height: 87vh;
    margin: 0;
}
#contenidos{
    background-color: #58b3dd;
    margin-top:0; 
    margin-bottom:0;
}
ul, h3{
    margin-top: 0; 
    margin-bottom: 0;
}
#trayectoria{
    background-color: #75cce8;
    height: 100vh;
    margin-top: 0; 
    margin-bottom: 0;
}
#experiencia{
    background-color: #91e5f4;
    margin-top: 0; 
    margin-bottom: 0;    
}
#dato_cur{
    background-color: #adfeff;
    margin-top: 0; 
    margin-bottom: 0;
}
h1,h2 {
    font-family: "Playfair Display", serif;
    color: lightgray;
    text-align: center;
    
}

.item {
    background-color: lightcyan;
    width: fit-content;

}

.table{
     border-collapse: collapse;
}

th,td{
    border: 10px solid #75cce8;
}

.texto{
    text-align: justify;
    vertical-align: top;
}
/*Hover cambia el color de fondo cuando pasas el cursos encima*/
.Generation:hover {background-color: #ddb18e;}
.Notts:hover {background-color: #e8caa7;}
.UNAM:hover {background-color: #f4e3bf;}
.UAM:hover {background-color:#fffcd7}

.img-edu{
    text-align: center;
}

.sobre_mi{
    font-family: "Alkatra", system-ui;
}
/*
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

}
* {
    box-sizing: border-box;
  }

.grid-item{
    border: 5px solid red;
    display: flex;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    display: block;
}

.grid-container div{
    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    text-align: center;
}

#item-one{
    grid-area: 1,3,1,3;
}
*/

